*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}
/* comnon */
.text-while {
    color: #fff  !important;
}

.text-center{
    text-align: center !important;
}

.clear{
    clear: both;
}

.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}

.pull-right{
    float: right;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.row{
    margin-right: -8px;
    margin-left: -8px;

}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full{
    width: 100%;
}

.col-three{
    width: 33.3333%;
}

.col-half{
    width: 50%;
}




/* main */
#wrapper{


}


#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
   


}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    font-size: 15px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav > li > a{
    text-transform: uppercase;
}

#nav > li:hover > a {

    color: #000;
    background-color: #ccc;
}

#nav .nav-arrow-down{
    font-size: 12px;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav li{
    display: block
}


#nav .subnav a {
    color: #000;
    line-height: 38px;
    padding: 0 12px;
}

#nav .subnav li:hover{
    background-color: #ccc;
}

#header .search-button{
    float: right;
    padding: 0 24px;
}

#header .mobile-menu-button{
    float: right;
    padding: 0 24px;
}



#header .search-button:hover{
    background-color: #f44336;
}

#header .mobile-menu-button:hover{
    background-color: #ccc;
}


#header .mobile-menu-icon,
#header .search-icon{
    color: #fff;
    line-height: 46px;
}

#slider{
    position: relative;
    margin-top: 46px;
    background: url('../img/places/chicago.jpg') top center / cover no-repeat;
    padding-top: 50%;

}

#slider .text-content{
    position: absolute;
    color: #fff;
    width: 100%;
    bottom: 48px;
    text-align: center;
}


#content{
   

}

#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}


#content .section-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}


#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin: 25px 0 25px;
    opacity: 0.6;
    
}

#content .about{
    text-align: justify;
    line-height: 1.4;
}

#content .members-list{
    margin-top: 32px;
    /* overflow: hidden; */
}


#content .member-name{
    font-size: 15px;
}

#content .members-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

#content .ticket-list{
    background-color: #fff;
}

#content .tour-section{
    background-color: #000;
}

#content .ticket-list{
    list-style-type: none;
}

.ticket-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    
}



.ticket-list .sold-out{
    background-color: #f44336;
    color: #fff;
    font-size: 15px;
    padding: 4px 8px;
    margin-left: 15px;

}

.ticket-list .number{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
}

.places-list{
    margin-top: 32px;
}



.place-img{
    width: 100%;
    display: block;

}

.place-img:hover{
    opacity: 0.6;
}

.places-body{
    font-size: 15px;
    background-color: #fff;
    padding: 16px;

}

.places-location{
    font-size: 15px;
    margin-top: 15px;         
}

.places-time{
    margin-top: 15px;
    color: #757575;    

}

.places-about{
    margin-top: 15px;
    line-height: 1.4;

}

.btn{
    
    background-color: #000;
    color: #fff;
    padding: 11px 16px;
    margin-top: 25px;
    display: inline-block;
    text-decoration: none;
    border: none;
    text-align: center;

}

.btn:hover{
    background-color: #ccc;
    color: black;
}

.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
    line-height: 1.4;
}

.contact-form{
    font-size: 15px;
}

.form-control{
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
}

.form-submit-btn{
    color: #fff;
    background-color: #000;
    padding: 10px 16px;
    border: none;
    float: right;

}

.form-submit-btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}



.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;

}

.modal.open{
    display: flex;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    min-height: 400px;
    position: relative;
    max-width: calc(100% - 100px);
    animation: modalFadeIn ease 0.3s;
}

.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    letter-spacing: 4px;
}

.modal .modal-bag{
    margin-right: 20px;
}

.modal .modal-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px 16px;
}

.modal .modal-close:hover{
    background-color: #ccc;
    color: black;
    cursor: pointer;
}

.modal .modal-body{
    padding: 16px;
    display: block;
}

.modal .modal-label{
    display: block;
    font-size: 15px;
}

.modal .modal-input{
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.modal .modal-pay-btn{
    width: 100%;
    background-color: #009688 ;
    font-size: 15px;
    padding: 16px;
    border: none;
    color: #fff;
}

.modal .modal-pay-btn:hover{
    background-color: #ccc;
    color: #000;
}

.modal-footer{
    padding: 16px;
    text-align: right;
}

.modal-footer a{
    color: #2196F3;
}

.map-section img{
    width: 100%;
}

#footer{
    padding: 64px 16px;
}

.socials{
    font-size: 24px;
    text-align: center;
}

#footer .socials a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .socials a:hover{
    color: rgba(0, 0, 0, 0.4);
}

#footer .footer-about{
    margin-top: 16px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
}


@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-140px)
        
    } to{
        opacity: 1;
        transform: translateY(-0px)
    }
}








#footer{


}

